<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Employees!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="employee/filter-direct" method="get">
    <input type="text" placeholder="Search" name="searchName">
    <input type="submit" value="Найти прямое совпадение">
</form>

<form action="employee/filter-contains" method="get">
    <input type="text" placeholder="Search" name="searchName">
    <input type="submit" value="Найти">
</form>
<div>
    <div>
        <div>
            <div th:each="el : ${listEmployee}">
                <p th:text="${el.id}"></p>
                <p th:text="${el.lastname}"></p>
                <p th:text="${el.firstname}"></p>
                <p th:text="${el.otch}"></p>
                <p th:text="${el.age}"></p>
                <p th:text="${el.passport}"></p>
            </div>
        </div>
    </div>
</div>

<a href="/employee/add">Добавить</a>
</body>
</html>