<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form method="post">
  <input type="text" name="name" placeholder="name"/> <br/>
  <input type="text" name="salary" placeholder="salary"/> <br/>
  <input type="text" name="description" placeholder="description"/> <br/>
  <input type="text" name="workschedule" placeholder="workschedule"/> <br/>
  <input type="text" name="share" placeholder="share"/> <br/>
  <input type="submit" value="Отправить данные" class="btn btn-primary"> <br/>



</form> <br>
</body>
</html>