<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<div>
    <div th:each="el : ${post}">
        <p th:text="${el.name}"></p>
        <p th:text="${el.salary}"></p>
        <a th:href="'/post/edit/'+${el.id}" class="btn btn-secondary">Редактировать</a> </br>
        <a th:href="'/post/del/'+${el.id}"  class="btn btn-secondary">Удалить</a>
    </div>
</div>
<a th:href="'/post/'" class="btn btn-secondary">Назад</a>
</body>
</html>