<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form th:object="${post}" method="post">
    <input th:field="*{name}" type="text" th:value = "${post.name}" name="name" placeholder="name"/> <br/>
    <div th:if="${#fields.hasErrors()}" th:errors="*{name}" style="color: red"></div><br/>
    <input th:field="*{salary}" th:value = "${post.salary}" type="text" name="salary" placeholder="salary"/> <br/>
    <div  th:if="${#fields.hasErrors()}" th:errors="*{salary}" style="color: red"></div><br/>
  <input type="submit" value="Отправить данные" class="btn btn-primary"> <br/>
  <a th:href="'/post/detail/' + ${post.id}" class="btn btn-secondary">Назад</a>
</body>
</html>