<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наш сайт</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<h1>Привет калькулятор</h1>

<label>Get</label>
<form action="/main/" method="get">
    <input type="text" name="first" placeholder="first"/> <br/>
    <input type="text" name="op" placeholder="operation"/> <br/>
    <input type="text" name="second" placeholder="second"/> <br/>
    <input type="submit" value="Отправить данные"> <br/>
</form> <br>
<label>Post</label>
<form action="/main/" method="post">
    <input type="text" name="first" placeholder="first"/> <br/>
    <input type="text" name="op" placeholder="operation"/> <br/>
    <input type="text" name="second" placeholder="second"/> <br/>
    <input type="submit" value="Отправить данные"> <br/>
</form>

</body>
</html>