<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<p th:object="${user}" th:text="${error}"></p>
<form th:object="${user}" method="post">
  <div>
    <div th:each="el : ${userOne}">
      <input type="text" name="username" th:value="${el.username}"/>
      <div th:if="${#fields.hasErrors()}" th:errors="*{username}" style="color: red"></div><br/>
      <input type="text" name="email" th:value="${el.email}"/>
      <div th:if="${#fields.hasErrors()}" th:errors="*{email}" style="color: red"></div><br/>
    </div>
  </div>
  <div>
    <div th:each="role : ${roleList}">
      <div th:each="user : ${userOne}">
        <input type="checkbox"
               name="roles[]"
               th:value="${role}"
               th:checked="${#lists.contains(user.roles, role)}"
        />
        <label th:text = "${role}"></label>
      </div>
    </div>
  </div>
  <input type="submit" value="Изменить пользователя" class="btn btn-primary">
</form>
</body>
</html>