<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form th:object="${product}" method="post">
    <input th:field="*{name}" type="text" name="name" placeholder="Название товара"/> <br/>
    <div th:if="${#fields.hasErrors()}" th:errors="*{name}" style="color: red"></div><br/>
    <input th:field="*{cost}" type="text" name="cost" placeholder="Цена товара"/> <br/>
    <div th:if="${#fields.hasErrors()}" th:errors="*{cost}" style="color: red"></div><br/>
    <input th:field="*{expire}" type="text" name="expire" placeholder="Срок годности"/> <br/>
    <div th:if="${#fields.hasErrors()}" th:errors="*{expire}" style="color: red"></div><br/>
    <input type="submit" value="Отправить данные" class="btn btn-primary"> <br/>
</form> <br>
</body>
</html>