<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form th:object="${category}" method="post">
    <input th:field="*{name}" type="text" th:value = "${name}" name="name" placeholder="name"/> <br/>
    <div th:if="${#fields.hasErrors()}" th:errors="*{name}" style="color: red"></div><br/>
  <input type="submit" value="Отправить данные" class="btn btn-primary"> <br/>
</form>
<a th:href="'/category/detail/' + ${category.id}" class="btn btn-secondary">Назад</a>
</body>
</html>