<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form method="post">
  <input type="text" name="name" placeholder="name"/> <br/>
  <input type="text" name="age" placeholder="age"/> <br/>
  <input type="text" name="description" placeholder="description"/> <br/>
  <input type="text" name="mass" placeholder="mass"/> <br/>
  <input type="submit" value="Отправить данные"> <br/>
</form> <br>
</body>
</html>