<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting ZOO!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<h1>Животные</h1>
<div>
  <div>
    <div>
      <div th:each="el : ${animal}">
        <p th:text="${el.id}"></p>
        <p th:text="${el.name}"></p>
        <p th:text="${el.age}"></p>
        <p th:text="${el.description}"></p>
        <p th:text="${el.mass}"></p>
      </div>
    </div>
  </div>
</div>

<a href="/zoo/add">Добавить</a>


</body>
</html>