<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
<form method="post">
    <input type="text" name="lastname" placeholder="lastname"/> <br/>
    <input type="text" name="firstname" placeholder="firstname"/> <br/>
        <select name = "post">
            <div th:each="element : ${posts}">
                <option th:value="${element.id}"  th:text="${element.name}"></option>
            </div>
        </select>
    <input type="submit" value="Отправить данные"  class="btn btn-primary"> <br/>
</form>
</body>
</html>